*
{
    /*margin: 0;
    padding: 0;
    box-sizing: border-box;*/
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE */
    user-select: none;
}
html
{
    background-color: #FFFAF3;
}
body
{
    margin: 0;
    padding: 0;
    min-width: 100%;
    background-image: url('../media/imagenes/fondos/fondo_2.png');
    /*background-size: cover;*/
    /*height: 100vh;*/
    /*opacity: 0.8;*/
    /*background-repeat: no-repeat;*/
}